ion-menu-button {
    color: var(--ion-color-primary);
  }

  ion-content{
    font-family: SourceSansPro;
    --padding-start: 5vw;
    --padding-end: 5vw;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
  color: green;
  font-size: 24px;
  text-align: center;
  width: 100%;
}
h2 {
  color: grey;
  font-size: 14px;  
  text-align: center;
  font-weight: lighter;
}
h3 {
  color: green;
  font-family: SourceSansPro;
  font-size: 28px;
  text-align: center;
}
h4 {
  color: green;
  font-size: 20px;
  font-weight: bold;
}
a {
  font-weight: bold;
  line-height: 0.94;
  color: green;
  text-decoration: none;
}